.about-us__container {
  width: 100%;
  height: calc(100vh - 90px);
  padding: 2.5rem 3.125rem;
  margin-bottom: 3.125rem;
  display: flex;
  justify-content: center;
}

.about-us__wrapper {
  width: 100%;
  padding: 1.25rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
  border: 0.25em solid;
  border-radius: 1.25em;
  border-color: #ffa500;
  background-image: url('/assets/images/about-us-background.jpg');
  background-position: center;
  background-size: cover;
}

.about-us__title {
  padding: 0.3125rem;
  font-family: var(--about-us-title-font);
  font-weight: 500;
  font-size: 2.1875em;
  text-shadow: 2px 2px 2px var(--about-us-main-color),
    -2px 2px 2px var(--about-us-main-color),
    2px -2px 2px var(--about-us-main-color),
    -2px -2px 2px var(--about-us-main-color);
  letter-spacing: 0.125em;
  color: #fff;
}

.about-us__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.about-us__info-logo {
  align-items: center;
}

.about-us__info-logo__img {
  height: var(--about-us-image-height);
  width: var(--about-us-image-width);
  display: flex;
  border: 0.1875em solid var(--about-us-main-color);
  border-radius: 1.25em;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.about-us__info-description {
  padding: 1.25rem 0;
  font-size: 1.2em;
  border-radius: 0.625em;
  background-color: rgba(255, 255, 255, 0.8);
}

.about-us__info-description__lists {
  padding: 0 1.25rem;
  text-align: justify;
}

.about-us__info-description__lists-item {
  position: relative;
  padding-left: 1.25rem;
  font-weight: 500;
  font-size: 1em;
  list-style-type: none;
}

.about-us__info-description__lists-item__highlight {
  font-family: var(--about-us-description-highlight);
  font-weight: 100;
  color: var(--about-us-main-color);
}

.about-us__info-description__lists-item__quote {
  font-family: var(--about-us-description-quote);
  font-style: italic;
  font-weight: 600;
  font-size: 1.1em;
  color: var(--about-us-main-color);
}

.about-us__info-description__lists-item__type-classic {
  font-family: var(--about-us-description-type-classic);
  font-weight: 600;
  font-style: italic;
  color: var(--about-us-main-color);
}

.about-us__info-description__lists-item__type-spicy {
  font-family: var(--about-us-description-type-spicy);
  letter-spacing: 0.05em;
  color: var(--about-us-main-color);
}
