.header__container {
    width: 100%;
    height: 90px;
    padding: 0 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa500;
}

.header__image-logo {
    width: var(--with-logo);
    height: var(--height-logo);
    border: 3px solid #000;
    border-radius: 50%;
}

.header__nav-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__nav-lists {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
}

/* .header__nav-lists {} */

.header__nav-lists__item a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.25em;
    transition: all 0.3s;
}

.header__nav-lists__item a:hover {
    transform: scale(1.1);
}


