.header__container {
  width: 100%;
  height: 90px;
  padding: 0 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffa500;
}

.header__logo {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo-image {
  width: var(--with-logo);
  height: var(--height-logo);
  border: 3px solid #d2691e;
  border-radius: 50%;
}

.header__logo-title {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Caprasimo', serif;
  font-weight: 400;
  font-style: normal;
}

.header__nav-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__nav-lists {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}

/* .header__nav-lists {} */

.header__nav-lists__item a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.25em;
  transition: all 0.3s;
}

.header__nav-lists__item a:hover {
  color: var(--color-link-nav-active);
  transform: scale(1.1);
}
